/* enters a comment in CSS */

/* 

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    box-shadow: 10px 5px 5px black;
    transition: margin-right 4s 1s;

}

.book-list-item:hover {
    cover: blue;
}


*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-variant: small-caps;
    margin: 0px;
    padding: 0px;
}

title {
        animation-duration: 3s;
        animation-name: slidein;
 }
      
@keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
}  

h3 {
    transition: margin-right 1s;
}

h3:hover {
    box-shadow: 5px 3px 3px rgb(18, 124, 103);
    background-color: rgba(128, 128, 128, 0.488);
    transition: box-shadow 1s;
}

html {
    box-shadow: 3px 2px 2px grey;
}

img:hover {
    box-shadow: 2px 1px 1px grey;
}

/* Added stuff above here 11-21-2022 */
/* Also added position to nav and footer */

main {
    padding: 16px;
    background-color: antiquewhite;
}

footer {
    margin: 24px 0px;
    padding: 16px;
    background-color: olivedrab;
    position: sticky
}

img {
    height: 200px;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
    background-color: rgb(193, 42, 42);
    color: white;
    position: relative;
}

.recipe-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

a, u {
    text-decoration: none;
}

a {
    color: green;
}

h1 {
    color: green;
}

.nav-link {
    color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

header {
    text-shadow: 2px 2px 5px black
}

